node_modules/
www/
dist/
.DS_Store
*.log
.env
.env.*
.idea/
.vscode/
android/app/build/
android/build/
android/.gradle/
android/captures/
android/local.properties
android/app/release/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
*.keystore
*.jks
keystore.b64
release-keystore-info.txt
